.button-row {

}

.button-row .positions {
  background-color: blanchedalmond;
  color: brown;
}

.button-row .sensors {
  background-color: cadetblue;
  color: white;
}

.button-row .faces {
  background-color: darksalmon;
  color: black;
}
